on: push
name: test
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        elasticsearch:
        - image: plainpicture/elasticsearch:2.4.1_delete-by-query
          env:
            discovery.type: single-node
            xpack.security.enabled: false
        - image: elasticsearch:5.4
          env:
            discovery.type: single-node
            xpack.security.enabled: false
        - image: docker.elastic.co/elasticsearch/elasticsearch:6.7.0
          env:
            discovery.type: single-node
            xpack.security.enabled: false
        - image: docker.elastic.co/elasticsearch/elasticsearch:7.0.0
          env:
            discovery.type: single-node
            xpack.security.enabled: false
        - image: docker.elastic.co/elasticsearch/elasticsearch:7.11.2
          env:
            discovery.type: single-node
            xpack.security.enabled: false
        - image: docker.elastic.co/elasticsearch/elasticsearch:8.1.1
          env:
            discovery.type: single-node
            xpack.security.enabled: false
        - image: opensearchproject/opensearch:1.3.14
          env:
            discovery.type: single-node
            plugins.security.disabled: true
        - image: opensearchproject/opensearch:2.11.1
          env:
            discovery.type: single-node
            plugins.security.disabled: true
        - image: opensearchproject/opensearch:2.13.0
          env:
            discovery.type: single-node
            plugins.security.disabled: true
        ruby:
        - 2.7
        - 3.0
        - 3.1
        - 3.2
    services:
      elasticsearch:
        image: ${{ matrix.elasticsearch.image }}
        env: ${{ matrix.elasticsearch.env }}
        ports:
          - 9200:9200
    steps:
    - uses: actions/checkout@v1
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: bundle
    - run: bundle exec rspec
    - run: bundle exec rubocop
